<!DOCTYPE html>
<html>
<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<title>SideNav</title>
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
		<link href="plugins1/bootstrap/css/bootstrap.css" rel="stylesheet">
		<link href="plugins1/node-waves/waves.css" rel="stylesheet" />
		<link href="css/style.css" rel="stylesheet">
		<link href="css/sweetalert.css" rel="stylesheet">
		<link href="css/themes/all-themes.css" rel="stylesheet" />
		<script src="js/jquery.min.js"></script>
		<script src="js/sweetalert.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">		
		<link href="plugins1/animate-css/animate.css" rel="stylesheet" />
		<link href="plugins1/morrisjs/morris.css" rel="stylesheet" /> 
		<script src="https://apis.google.com/js/platform.js" async defer></script>
		<script src="angulerjs/angular.min.js"></script>
		<script src="angulerjs/angular-touch.js"></script>
		<script src="angulerjs/angular-route.min.js"></script>
		<script src="angulerjs/ui-bootstrap-tpls-0.14.3.min.js"></script>
		<script src="angulerjs/ChitfundApp.js"></script>
		 <!-- <script src="cordova.js"></script>  -->
						<script type="text/javascript">
						 function noBack(){
							window.history.forward();};
							$(document).ready(function() {
								$(".loader").fadeOut("slow");
							});
                        </script> 


						
</head>

<body class="theme-cyan" style="background-color:#fff;" ng-app="ChitfundApp" ng-controller="chitFundController" ng-init="pageheader = 'Chit v/s Members'">
    <!-- Page Loader -->
        <div class="loader"></div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
	<section>
		<div ng-if="userlevel === 'Superadmin'" ng-include="'SuperadminMainmenu.html'"></div>
		<div ng-if="userlevel != 'Superadmin'" ng-include="'Mainmenu.html'"></div>
    </section>
    <section class="content"  ng-init="ListChitallocationDetails();Chitidref();Memberidref();">
			<div class="row clearfix" style="margin-top:-1.8rem;">
			
				<div class="col-sm-12 col-xs-12">
								<div class="input-group input-group-lg">
								<div class="form-line">
									<input type="search" class="form-control" ng-model="search.customer" placeholder="Search"/>
								</div>
										<span class="input-group-addon" ng-if="search.customer" ng-click="search.customer =''">
                                            <i class="material-icons">&#xE14C;</i>
                                        </span>
								</div>
				</div>
				
					<div class="table-responsive">
						<table class="table table-bordered">
						
						<tbody ng-repeat="data in ResultedRecords | filter:search.customer">
							<tr ng-swipe-left="ToggleDeleteAction(ResultedRecords,$index)" ng-swipe-right="data.deletetoggle = false">
									<td class="card">
										<div class="row">
										<div class="col-md-9 col-xs-9" ng-click="GetChitallocationDetails(data.id)" data-toggle="modal" data-target="#MyModalAdd">
												<label><i class="fa fa-user" aria-hidden="true"></i> &nbsp;&nbsp;{{data.membername}}</label><br>
												<label><i class="fa fa-sticky-note" aria-hidden="true"></i> &nbsp;&nbsp;{{data.chitname}}</label><br>
												<label><i class="fa fa-inr" aria-hidden="true"></i> &nbsp;&nbsp;{{data.chitreceiptamt | number:2}}
												&nbsp;&nbsp;
												<i class="fa fa-calendar" aria-hidden="true"></i> &nbsp;&nbsp;{{data.chitreceiptdate | date:'dd/MM/yyyy'}}</label>
												
												</div>
												<div class="col-md-3 col-xs-3">
													<label class="pull-right mt-6 btn btn-primary-outline" ng-if="data.deletetoggle === true" ng-click="DeleteChitallocation(data.id)">Delete</label>
												</div>
										</div>
											
									</td>
							</tr>
							</tbody>
							</table>
							</div>
				
					<div class="col-sm-12 col-xs-12 btmnavbar" ng-if="userlevel == 'Customer'">
						<div ng-include="'navtabs.html'"></div>
					</div>
			</div>
			<!-- Modal -->
  <div class="modal fade" id="MyModalAdd" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" ng-click="chitvsmember = []" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Chit and members allocation</h4>
        </div>
        <div class="modal-body">
			<form name="chitvsmember">
				<div class="row">
					<div class="input-group">
						<span class="input-group-addon">
							<i>Select Chit:</i>
						</span>
						<div class="form-line">
							<input class="form-control" ng-model="chitvsmember[0].selectedchitid" typeahead="obj as obj.name for obj in ChitsidList" typeahead-on-select="chitvsmember[0].chitid = $item.id" placeholder="Select Chit" required />
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="input-group">
						<span class="input-group-addon">
							<i>Select Member:</i>
						</span>
						<div class="form-line">
							<input type="text" class="form-control"  ng-model="chitvsmember[0].selectedmemberid" typeahead="obj as obj.name for obj in MembersidList" typeahead-on-select ="chitvsmember[0].memberid = $item.id" placeholder="Select Member" required />
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="input-group">
						<span class="input-group-addon">
							<i>Chit Receipt Amount:</i>
						</span>
						<div class="form-line">
							<input type="number" class="form-control"  ng-model="chitvsmember[0].chitreceiptamt"   placeholder="Chit Receipt Amount" required />
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="input-group">
						<span class="input-group-addon">
							<i>Chit Receipt Date:</i>
						</span>
						<div class="form-line">
							<input type="date" class="form-control" ng-model="chitvsmember[0].chitreceiptdate"  placeholder="Chit Receipt Date" required />
						</div>
					</div>
				</div>

			</form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" ng-disabled="chitvsmember.$invalid" ng-click="SaveChitvsMenber()" data-dismiss="modal">Save</button>
          <button type="button" class="btn btn-default" ng-click="chitvsmember = []" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
			
			
			 <div id="container-floating">
					  <div id="floating-button" data-toggle="modal" data-target="#MyModalAdd">
						<p class="plus">+</p>
					  </div>
									
					</div> 
    </section>
	
    <script src="plugins1/bootstrap/js/bootstrap.js"></script>
    <script src="plugins1/jquery-slimscroll/jquery.slimscroll.js"></script>
    <script src="plugins1/node-waves/waves.js"></script>
    <script src="plugins1/jquery-countto/jquery.countTo.js"></script>
</body>
</html>