<!DOCTYPE html>
<html>
<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<title>SideNav</title>
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
		<link href="plugins1/bootstrap/css/bootstrap.css" rel="stylesheet">
		<link href="plugins1/node-waves/waves.css" rel="stylesheet" />
		<link href="css/style.css" rel="stylesheet">
		<link href="css/sweetalert.css" rel="stylesheet">
		<link href="css/themes/all-themes.css" rel="stylesheet" />
		<script src="js/jquery.min.js"></script>
		<script src="js/sweetalert.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">		
		<link href="plugins1/animate-css/animate.css" rel="stylesheet" />
		<link href="plugins1/morrisjs/morris.css" rel="stylesheet" /> 
		<script src="https://apis.google.com/js/platform.js" async defer></script>
		<script src="angulerjs/socket.io.js"></script>
		<script src="angulerjs/angular.min.js"></script>
		<script src="angulerjs/angular-touch.js"></script>
		<script src="angulerjs/angular-route.min.js"></script>
		<script src="angulerjs/ui-bootstrap-tpls-0.14.3.min.js"></script>
		 <script src="js/jssor.slider-27.1.0.min.js" type="text/javascript"></script>
		<script src="angulerjs/appProduct.js"></script>
		<script src="cordova.js"></script>
						<script type="text/javascript">
						 function noBack(){
							window.history.forward();};
							$(document).ready(function() {
								$(".loader").fadeOut("slow");
							});
                        </script> 


						
</head>

<body class="theme-green" id="YourElementId" style="background-color:#fff;" ng-app="ProductApp" ng-controller="productController" ng-init="pageheader = 'Order Details'">
    <!-- Page Loader -->
        <div class="loader"></div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
	<section>
		<div ng-include="'Submenu.html'"></div>
    </section>
    <section class="content" ng-init="ListProductsType()">
			<div class="row clearfix" style="margin-top:-1.8rem;" ng-init="">
			
			 <div class="row">
	<nav class="navbar" style="margin-top:70px;background-color:#fff !important;">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="row">
					<div class="col-sm-6 col-xs-6">
								<div class="input-group">
						<span class="input-group-addon">
							<i>Date:</i>
						</span>
						<div class="form-line" style="width:90%;">
							<input type="date" ng-model="ProductList[0].orderdate" class="form-control"/>
						</div>
					</div>
				</div>
								<div class="col-sm-6 col-xs-6">
								<div class="input-group">
						<span class="input-group-addon">
							<i>Type:</i>
						</span>
						<div class="form-line">
							<select class="form-control" ng-model="producttype"  ng-change="setFiltervalue(producttype)">
								<option value="" selected disabled>Select type</option>
								<option value="All">All</option>
								<option ng-repeat="obj in ProductsTypeList" value="{{obj.id}}">{{obj.type}}</option>
							
								
							</select>
						</div>
					</div>
				</div>
								
								
					</div>
					
						<div class="col-sm-12 col-xs-12">
								<div class="input-group input-group-lg">
								<div class="form-line">
									<input type="search" class="form-control" ng-model="search.customer" placeholder="Search"/>
								</div>
										<span class="input-group-addon" ng-if="search.customer" ng-click="search.customer =''">
                                            <i class="material-icons">&#xE14C;</i>
                                        </span>
								</div>
							</div>
							
				</div>
            </div>
        </div>
    </nav>
  </div>
			
				
					<div class="row" style="margin-top:128px;" ng-init="GetOrderDetails()">
					<div class="table-responsive">
						<table class="table table-bordered">
						<thead>
							<th class="text-left">#</th>
							<th class="text-center">Product</th>
							<th class="text-center">Qty in Kg./Pc.</th>
							<th class="text-center" ng-if="userlevel == 'Admin'">Rate</th>
						</thead>
						<tbody ng-repeat="data in ProductList | filter:search.customer | filter: {typeid:producttype} ">
							<tr>
								<td class="text-left">{{$index + 1}}</td>
								<td class="text-left">{{data.name}}</td>
								<td class="text-left"><input type="number" class="form-control" ng-model="data.qty"/></td>
								<td class="text-right" ng-if="userlevel == 'Admin'"><input type="number" ng-model="data.salerate" class="form-control"/></td>
							</tr>
							</tbody>
							</table>
							</div>
							</div>
				
					<div class="col-sm-12 col-xs-12 btmnavbar" ng-if="userlevel == 'Customer'">
						<div ng-include="'navtabs.html'"></div>
					</div>
			</div>
			
  <script>
						function CallSubmitFunc()
						{
							angular.element(document.getElementById('YourElementId')).scope().UpdateOrder();
						}
					</script>
			
			
			
    </section>
	
    <script src="plugins1/bootstrap/js/bootstrap.js"></script>
    <script src="plugins1/jquery-slimscroll/jquery.slimscroll.js"></script>
    <script src="plugins1/node-waves/waves.js"></script>
    <script src="plugins1/jquery-countto/jquery.countTo.js"></script>
</body>
</html>